{% extends 'base.html.twig' %}

{% block title %}Planner{% endblock %}

{% block body %}
    <div class="app"></div>
    <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}
